@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    background-color: #1D1D1D;
}

a{
    color: white;
    text-decoration: none;
}

.title{
    font-size: 50px;
}

